<div class="login-logo-container">
    <img src="images/pokemex-logo.png" alt="Pokemex Logo" class="login-logo" />
</div>

<form [formGroup]="form" (ngSubmit)="login()">
    <label>Usuario</label>
    <input type="text" formControlName="username" required>

    <label>Contraseña</label>
    <input type="password" formControlName="password" required>

    <button type="submit">Iniciar sesión</button>
</form>

<p *ngIf="errorMsg" style="color: red">{{ errorMsg }}</p>

<p style="margin-top: 1rem">
    ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>
</p>

<img src="images/pikachu.png" alt="Pikachu con globos" class="pikachu-float" />

