<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened>
    <h3>Menú Lateral</h3>
    <ul>
      <li>Filtrar por Tipo</li>
      <li>Filtrar por Región</li>
      <li>Filtrar por Habilidad</li>
      <li>Ordenar por Nombre</li>
      <li>Ordenar por Fuerza</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <app-pokemons-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon" (selectedPokemonEvent)="selectPokemon($event)"></app-pokemons-card>
  </mat-drawer-content>
</mat-drawer-container>