<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened>

      <!-- Imagen/Icono arriba del menú -->
      <div class="menu-header">
        <img src="images/menu_icon.png" alt="Icono Menu">
      </div>

      <mat-list>
          <mat-list-item routerLinkActive="active">
            <a routerLink="./about">Acerca de la App 📘</a>
          </mat-list-item>
          
          <mat-list-item routerLinkActive="active">
              <a routerLink="./home">Pokedex ⚪️🔴</a></mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item routerLinkActive="active">
            <a routerLink="./favorites">Favoritos ⭐</a>
          </mat-list-item>
    
          <mat-list-item routerLinkActive="active">
            <a routerLink="./types">Tipos de Pokémon 🔥💧🌱</a>
          </mat-list-item>
    
          <mat-list-item routerLinkActive="active">
            <a routerLink="./regions">Regiones 🌎</a>
          </mat-list-item>
    
          <mat-list-item routerLinkActive="active">
            <a routerLink="./battles">Mi equipo para la batalla ⚔️</a>
          </mat-list-item>
    
          <mat-list-item routerLinkActive="active">
            <a routerLink="./admin-pokedex">Modificar Pokedex 📜</a>
          </mat-list-item>
    
          <mat-divider></mat-divider>
    
          <mat-list-item routerLinkActive="active">
            <a routerLink="./register">Registrarse 📝</a>
          </mat-list-item>
      </mat-list>
      <div class="logout-container" *ngIf="auth.isLoggedIn()">
        <button class="btn-logout-épico" color="warn" (click)="logout()">Cerrar sesión</button>
      </div>

  </mat-drawer>
  <mat-drawer-content class="page-container">
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>